# python==3.9
pandas
scikit-learn==0.24.2
numpy<1.20
lifelines
scikit-survival
lightgbm
xgboost
torch==1.13.0
optuna
numba
catboost
streamlit==1.22.0
combo
cloudpickle
ganite
shap
lime
jupyterlab
notebook
sklearn-pandas
xgbse
gunicorn
loguru
psutil
pycox
pydantic
pymfe
redis
uvicorn
bandit
black
black-nb
darglint
doc8
flake8
isort
nbconvert
nbformat
pytest
pytest-benchmark
pytest-cov
pytest-xdist[psutil]
pytest-xprocess
fastapi
html5lib
pykeops
geomloss
streamlit-extras